.custom-class {
    height: 100% !important;
    width: 100% !important;
    background: rgb(237, 245, 251);
    border: 1px dotted darkgreen Impo !important;
    box-sizing: border-box;
}
.custom-class .file-types {
    display: none !important;
  }
  